ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
install-sh
ln-sr
missing
py-compile

*.pyc
*.pyo
*.spec
*.swp
*.tmp
*~
__pycache__
tmp.*

selinux-ovirt_vmconsole/ovirt_vmconsole.fc
selinux-ovirt_vmconsole/ovirt_vmconsole.fc.in
src/ovirt-vmconsole-host/NOTICE
src/ovirt-vmconsole-host/ovirt-vmconsole-host-shell
src/ovirt-vmconsole-host/ovirt-vmconsole-host-sshd/authorized_principals
src/ovirt-vmconsole-host/ovirt-vmconsole-host-sshd/ovirt-vmconsole-host-sshd
src/ovirt-vmconsole-host/ovirt-vmconsole-host-sshd/ovirt-vmconsole-host-sshd.systemd
src/ovirt-vmconsole-host/ovirt-vmconsole-host-sshd/ovirt-vmconsole-host-sshd.systemd.in
src/ovirt-vmconsole-host/ovirt-vmconsole-host-sshd/ovirt-vmconsole-host-sshd.sysv
src/ovirt-vmconsole-host/ovirt-vmconsole-host-sshd/ovirt-vmconsole-host-sshd.sysv.in
src/ovirt-vmconsole-host/ovirt-vmconsole-host-sshd/sshd_config
src/ovirt-vmconsole-host/ovirt-vmconsole-host-sshd/sshd_config.in
src/ovirt-vmconsole-host/ovirt-vmconsole-host.conf
src/ovirt-vmconsole-host/ovirt-vmconsole-host.conf.in
src/ovirt-vmconsole-proxy/NOTICE
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy-keys
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy-shell
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy-sshd/ovirt-vmconsole-proxy-sshd
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy-sshd/ovirt-vmconsole-proxy-sshd.systemd
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy-sshd/ovirt-vmconsole-proxy-sshd.systemd.in
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy-sshd/ovirt-vmconsole-proxy-sshd.sysv
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy-sshd/ovirt-vmconsole-proxy-sshd.sysv.in
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy-sshd/sshd_config
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy-sshd/sshd_config.in
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy.conf
src/ovirt-vmconsole-proxy/ovirt-vmconsole-proxy.conf.in
src/ovirt-vmconsole-proxy/ssh_config
src/ovirt-vmconsole-proxy/ssh_config.in
src/ovirt_vmconsole/common/config.py
src/ovirt_vmconsole/common/config.py.in
